.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  /* background-color: yellow; */
}
.top-bar {
  display: flex;
  flex: 0.6 ;
  background-color: rgb(248, 248, 248);
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  flex: 15;
  background-color: blue;
}
.dashboard-heading {
  display: flex;
  flex: 0.7;
  background-color: green;
}
.executive-dashboard {
  display: flex;
  flex: 2;
  background-color: orange;
}
.cwpp-widget {
  display: flex;
  flex: 2;
  background-color: purple;
}
.registry-scan {
  display: flex;
  flex: 2;
  background-color: pink;
}